@function px2rem($px){
  $rem:41.4px;
  @return ($px / $rem) + rem;
}

body {
  width: 100%;
  background-color: #F7FCFF;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.bg-top{
  width: 100%;
  .bg{
    width: 100%;
    height: px2rem(226px);
  }
}

.titre-one{
  width: 100%;
  height: px2rem(56px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Chewy;
  font-style: normal;
  font-weight: normal;
  font-size: px2rem(24px);
  line-height: px2rem(31px);
  color: #000000;
  transform: translateY(-50px);
}

.titre-two{
  width: 100%;
  height: px2rem(43px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Chewy;
  font-style: normal;
  font-weight: normal;
  font-size: px2rem(18px);
  line-height: px2rem(24px);
  text-align: center;
  color: #000000;
  transform: translateY(-50px);
}

.adultes{
  width: 100%;
  height: px2rem(31px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Chewy;
  font-style: normal;
  font-weight: normal;
  font-size: px2rem(18px);
  line-height: px2rem(24px);
  text-align: center;
  color: #000000;
  margin-top: px2rem(6px);
  transform: translateY(-50px);
}

.adultes-img-wrapper{
  width: 100%;
  height: px2rem(110px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  .adultes-img{
    width: px2rem(221px);
    height: px2rem(110px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../../../asset/img/Personne/Personne.png");
    background-repeat: no-repeat;
  }
}

.enfants{
  width: 100%;
  height: px2rem(31px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Chewy;
  font-style: normal;
  font-weight: normal;
  font-size: px2rem(18px);
  line-height: px2rem(24px);
  text-align: center;
  color: #000000;
  margin-top: px2rem(6px);
  transform: translateY(-50px);
}

.enfants-img-wrapper{
  width: 100%;
  height: px2rem(80px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  .enfent-img{
    width: 100%;
    height: px2rem(80px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
  }
}

.suivante-layout{
  width: 100%;
  position: absolute;
  bottom: px2rem(34px);
  left: 0;
  a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    .suivante-wrapper{
      width: px2rem(233px);
      height: px2rem(53px);
      background: #00BFA6;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 44px;
      .suivante{
        width: px2rem(233px);
        height: px2rem(53px);
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: px2rem(14px);
        line-height: px2rem(17px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }
}



